.title {
  margin-bottom: 70px;
  h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
    font-family: 'VN-Boowie';
    color: #000000;
  }
}
.slick-arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
  &.arr-prev {
    left: -30px;
  }
  &.arr-next {
    right: -30px;
  }
}
.box-banner {
  position: relative;
  background: #DADADA;
  padding: 202px 0 126px 0;
  .slick-arrow {
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    bottom: -60px;
    left: 48%;
    top: unset;
    &.slick-right {
      left: 52%;
    }
  }
}
.box-service {
  padding: 180px 0;
}
.item-service {
  h3 {
    padding: 25px 0 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: inherit;
  }
  .info {
    max-width: 345px;
  }
}
.box-product-cate {
  padding: 122px 0 170px 0;
}
.list-cate-prd {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  ul {
    list-style: none;
    li {
      margin-bottom: 42px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.txt-prd-cate {
  h4 {
    font-size: 30px;
    font-weight: normal;
  }
  .desc {
    padding: 20px 0;
  }
}
.btn-main {
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-width: 182px;
    height: 50px;
    border: 1px solid #DCB47F;
    color: #DCB47F;
    &:hover {
      color: #fff;
      background: #000000;
      border: 1px solid #000000;
    }
  }
}
.box-banner-sale {
  position: relative;
  padding: 114px 0 80px 0;
}
.content-banner-sale {
  position: relative;
  padding: 0 60px;
  &:after {
    content: "";
    width: 100%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 0;
    background: url("../images/banner-sale.png") no-repeat center;
    background-size: cover;
  }
  .row {
    position: relative;
    z-index: 2;
  }
  .slogan {
    text-align: right;
    img {
      max-height: 180px;
    }
  }
  .txt-sale {
    h3 {
      color: #EDE2C5;
      font-size: 56px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .btn-main {
      a {
        background: #262626;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        color: #FBFBFB;
        border: 0;
      }
    }
  }
  &.sale-cate {
    &:after {
      top: unset;
      bottom: 0;
      height: 84%;
    }
    .col-md-4 {
      &:first-child, &:last-child {
        padding-top: 6%;
      }
    }
  }
}
.box-stories {
  padding: 150px 0;
  .slide-stories {
    max-width: 880px;
    margin: 0 auto;
    .item-slide {
      padding: 0 15px;
    }
    .slick-arrow {
      top: 180px;
      &.arr-prev {
        left: -60px;
      }
      &.arr-next {
        right: -60px;
      }
    }
  }
}
.item-stories {
  .avarta {
    img {
      height: 420px;
    }
  }
  .info {
    max-width: 770px;
    margin: 0 auto;
    color: #7A7875;
    h5 {
      padding: 26px 0;
      text-transform: uppercase;
      color: #7A7875;
      font-size: 30px;
      font-weight: 600;
    }
  }
}
.box-product-hot {
  padding: 140px 0 150px 0;
  .slide-prd-hot {
    margin: 0 -15px;
    .item-slide {
      padding: 0 15px;
    }
  }
}
.item-prd {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-bottom: 18px;
    li {
      margin-right: 40px;
      padding-right: 40px;
      position: relative;
      &:after {
        content: "|";
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 300;
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  h3 {
    padding: 18px 0;
    a {
      color: #4f4f4f;
      font-size: 18px;
      font-weight: normal;
    }
  }
  .price {
    font-size: 22px;
    font-weight: normal;
    color: #4F4F4F;
    del {
      font-weight: 300;
      margin-right: 10px;
    }
  }
}
.box-review {
  padding: 75px 0;
}
.tab-review {
  margin-bottom: 64px;
  font-family: Ogg;
  ul {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.content-review {
  position: relative;
  .slide-review {
    margin: 0 -30px;
    .item-slide {
      padding: 0 30px;
    }
  }
}
.box-blog {
  padding: 75px 0 0 0;
  .slide-blog {
    position: relative;
    margin: 0 -30px;
    .item-slide {
      padding: 0 30px;
    }
  }
}
.detail-link {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7A7875;
    height: 58px;
    width: 100%;
    font-size: 14px;
    color: #7A7875;
    &:hover {
      background: #DADEBE;
      color: #fff;
      border: 1px solid #DADEBE;
    }
  }
}
.item-blog {
  .top {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
  }
  h3 {
    a {
      font-size: 26px;
      font-weight: 500;
      display: block;
      color: #4F4F4F;
    }
  }
  .detail-link {
    margin-top: 54px;
    opacity: 0;
  }
  &:hover {
    .detail-link {
      opacity: 1;
    }
  }
}
.box-subscribe {
  position: relative;
  margin-top: 150px;
}
.content-subscribe {
  padding: 45px 145px 0 145px;
  background: url("../images/bn-sub.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  .avarta {
    img {
      max-height: 385px;
    }
  }
  .txt-subscribe {
    max-width: 500px;
    h3 {
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
  }
}
.frm-sub {
  position: relative;
  .txt_field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #455154;
    outline: none;
    background: transparent;
    padding: 14px 0;
  }
  .item-btn {
    position: absolute;
    right: 0;
    bottom: 10px;
    &:after {
      content: "";
      width: 33px;
      height: 33px;
      background: url("../images/arrow-button.png") no-repeat center;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }
    .btn_field {
      width: 33px;
      height: 33px;
      opacity: 0;
      cursor: pointer;
    }
  }
}
.box-banner-bread {
  position: relative;
  .avarta-bread {
    position: relative;
    img {
      max-height: 360px;
      object-fit: cover;
    }
  }
  .caption-bread {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: Ogg;
      font-size: 40px;
      font-weight: 400;
    }
  }
}
.box-tab-blog {
  padding: 75px 0 165px 0;
  background: #fff;
  .slick-arrow {
    bottom: -85px;
    top: unset;
    &.slick-left {
      left: calc(50% - 50px);
    }
    &.slick-right {
      right: calc(50% - 50px);
    }
  }
}
.slide-news {
  margin: 0 -30px;
  .item-slide {
    padding: 0 30px;
  }
  .item-blog {
    margin-bottom: 64px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.tab-blog {
  font-family: Ogg;
  margin-bottom: 64px;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #000000;
        font-size: 20px;
        font-weight: normal;
        &.active, &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
.content-blog {
  position: relative;
  .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: unset;
      position: relative;
      z-index: 10;
    }
  }
}

.box-faq {
  padding: 50px 0;
  .tab-blog {
    margin-bottom: 40px;
  }
}
.title-faq {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: normal;
}
.content-faq {
  max-width: 770px;
  margin: 0 auto;
}
.item-faq {
  border-bottom: 0.5px solid #BFBFBF;
  padding-bottom: 8px;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  .head-faq {
    position: relative;
    font-weight: 300;
    font-size: 22px;
    color: #7C7C7C;
    cursor: pointer;
    padding-right: 35px;
    .icon {
      position: absolute;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: calc(50% - 10px);
      right: 0;
      svg {
        transition: .3s all !important;
      }
    }
    &.active {
      font-weight: normal;
      .icon {
        svg {
          transform: rotate(-90deg);
          path {
            fill: rgb(79, 79, 79);
          }
        }
      }
    }
  }
  .answer {
    font-size: 18px;
    font-weight: 300;
    margin-top: 12px;
    display: none;
  }
}
.box-contact {
  padding: 147px 0;
  .container {
    max-width: 1200px;
  }
  .txt-contact {
    font-size: 40px;
    font-weight: 400;
    font-family: Ogg;
    line-height: initial;
  }
}
.content-contact {
  .row {
    margin: 0 -50px;
    .col-md-6 {
      padding: 0 50px;
    }
  }
}