@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-BoldItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-ExtraLight.woff2") format("woff2"), url("../fonts/jose/JosefinSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Light.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-LightItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Italic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-SemiBold.woff2") format("woff2"), url("../fonts/jose/JosefinSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-MediumItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Medium.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-ThinItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Thin.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VN-Boowie";
  src: url("../fonts/VN-Boowie-Regular.woff2") format("woff2"), url("../fonts/VN-Boowie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Bold.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-LightItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-BoldItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-MediumItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Light.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Medium.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Italic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Regular.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Thin.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-ThinItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #070039;
  transition: 0.3s all !important;
}
a:hover {
  color: #7FC3A7;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body {
  max-width: 100%;
  color: #4F4F4F;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Josefin";
  font-weight: 300;
  background: #F9F7F2;
}
@media (max-width: 1600px) {
  body {
    font-size: 16px;
  }
}

.container {
  max-width: 1550px;
}
@media (max-width: 1700px) {
  .container {
    max-width: 100%;
    padding: 0 100px;
  }
}
@media (max-width: 1400px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

.slick-slider {
  margin: 0;
}
.slick-slider img {
  display: inline;
}

/*======================================== end config =================================*/
@media (max-width: 1023px) {
  header {
    display: none;
  }
}

.header-top {
  font-size: 16px;
  color: #fff;
  background: #000000;
  padding: 9px 0;
}

.head-menu {
  padding: 25px 0;
  font-size: 20px;
  font-family: Ogg;
}
@media (max-width: 1600px) {
  .head-menu {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  .head-menu .container {
    padding: 0 32px;
  }
}
.head-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.head-menu ul li {
  margin-right: 48px;
}
@media (max-width: 1200px) {
  .head-menu ul li {
    margin-right: 26px;
  }
}
.head-menu ul li:last-child {
  margin-right: 0;
}
.head-menu ul li a {
  display: flex;
  align-items: center;
}
.head-menu ul li a img, .head-menu ul li a svg {
  margin-left: 8px;
}
.head-menu .menu-right ul {
  justify-content: flex-end;
}

@media (max-width: 1400px) {
  footer .container {
    padding: 0 32px;
  }
}

.fter-top {
  padding: 90px 0 50px 0;
}
@media (max-width: 1023px) {
  .fter-top {
    padding: 50px 0 24px 0;
  }
}
@media (max-width: 1023px) {
  .fter-top .f-top-3, .fter-top .f-top-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .fter-top .f-top-3 {
    margin-bottom: 32px;
  }
}
.fter-top .item-fter .t-fter {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .fter-top .item-fter .t-fter {
    margin-bottom: 20px;
  }
}
.fter-top .link-fter ul {
  list-style: none;
}
.fter-top .link-fter ul li {
  margin-bottom: 18px;
}
@media (max-width: 1023px) {
  .fter-top .link-fter ul li {
    margin-bottom: 10px;
  }
}
.fter-top .link-fter ul li:last-child {
  margin-bottom: 0;
}
.fter-top .link-fter ul li a {
  font-size: 16px;
  color: #7C7C7C;
}
.fter-top .link-fter ul li a:hover {
  color: #000000;
}
.fter-top .link-fter ul li label {
  margin-bottom: 0;
  font-weight: 500;
}
.fter-top .link-fter ul li p {
  font-weight: 300;
}
.fter-top .fter-regis {
  margin-top: 45px;
}
@media (max-width: 1023px) {
  .fter-top .fter-regis {
    display: none;
  }
}
.fter-top .fter-regis .t-fter {
  margin: 0;
}
.fter-top .fter-regis .desc-fter {
  font-weight: 300;
  padding: 12px 0;
}
.fter-top .btnmain a {
  background: #C1BCB4;
  color: #fff;
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 216px;
  font-weight: 300;
  font-size: 13px;
}
.fter-top .btnmain a:hover {
  background: #000000;
}

.fter-right {
  border-bottom: 1px solid #C1BCB4;
  padding-bottom: 47px;
}
@media (max-width: 1023px) {
  .fter-right {
    padding-bottom: 24px;
  }
}
@media (max-width: 1023px) {
  .fter-right .col-md-3 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .fter-right .col-md-3:nth-child(3) {
    display: none;
  }
}

.fter-bottom {
  font-size: 14px;
  padding: 0 0 50px 0;
}
@media (max-width: 1023px) {
  .fter-bottom {
    padding: 0 0 24px 0;
  }
}
.fter-bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fter-bottom ul li {
  margin-right: 20px;
}
.fter-bottom ul li:last-child {
  margin-right: 0;
}
.fter-bottom .list-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .fter-bottom .list-info {
    flex-wrap: wrap;
  }
}
@media (max-width: 1023px) {
  .fter-bottom .item-info-bot {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px 0;
  }
}
.fter-bottom .item-info-bot:first-child a {
  border-bottom: 1px solid;
}

.title {
  margin-bottom: 70px;
}
@media (max-width: 1600px) {
  .title {
    margin-bottom: 50px;
  }
}
.title h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  font-family: "VN-Boowie";
  color: #000000;
}
@media (max-width: 1600px) {
  .title h2 {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .title h2 {
    font-size: 32px;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
}
@media (max-width: 1023px) {
  .slick-arrow {
    display: none !important;
  }
}
.slick-arrow.arr-prev {
  left: -30px;
}
.slick-arrow.arr-next {
  right: -30px;
}

.box-banner {
  position: relative;
  background: #DADADA;
  padding: 202px 0 126px 0;
}
.box-banner .slick-arrow {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: -60px;
  left: 48%;
  top: unset;
}
.box-banner .slick-arrow.slick-right {
  left: 52%;
}
.box-banner .sllogan {
  position: relative;
  margin-bottom: -100px;
  z-index: 2;
  pointer-events: none;
}

.box-service {
  padding: 180px 0;
}
@media (max-width: 1600px) {
  .box-service {
    padding: 140px 0;
  }
}
@media (max-width: 1023px) {
  .box-service {
    padding: 90px 0;
  }
}

.item-service h3 {
  padding: 25px 0 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: inherit;
}
@media (max-width: 1600px) {
  .item-service h3 {
    font-size: 18px;
  }
}
.item-service .info {
  max-width: 345px;
}
.item-service .info .desc {
  font-weight: 300;
}

.box-product-cate {
  padding: 122px 0 170px 0;
}
@media (max-width: 1600px) {
  .box-product-cate {
    padding: 120px 0;
  }
}
@media (max-width: 1023px) {
  .box-product-cate {
    padding: 50px 0;
  }
}
@media (max-width: 1600px) {
  .box-product-cate .col-md-3 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.list-cate-prd {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 1600px) {
  .list-cate-prd {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .list-cate-prd {
    font-size: 14px;
  }
}
.list-cate-prd ul {
  list-style: none;
}
.list-cate-prd ul li {
  margin-bottom: 42px;
}
@media (max-width: 1600px) {
  .list-cate-prd ul li {
    margin-bottom: 32px;
  }
}
@media (max-width: 1023px) {
  .list-cate-prd ul li {
    margin-bottom: 24px;
  }
}
.list-cate-prd ul li:last-child {
  margin-bottom: 0;
}
.list-cate-prd a {
  color: #7A7875;
}
.list-cate-prd a:hover, .list-cate-prd a.active {
  color: #000000;
}

.avr-cate {
  display: none;
}
.avr-cate.active {
  display: block;
}

.txt-prd-cate h4 {
  font-size: 30px;
  font-weight: normal;
}
@media (max-width: 1600px) {
  .txt-prd-cate h4 {
    font-size: 26px;
  }
}
@media (max-width: 1023px) {
  .txt-prd-cate h4 {
    font-size: 20px;
  }
}
.txt-prd-cate .desc {
  padding: 20px 0;
}

.btn-main a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-width: 182px;
  height: 50px;
  border: 1px solid #DCB47F;
  color: #DCB47F;
}
.btn-main a:hover {
  color: #fff;
  background: #000000;
  border: 1px solid #000000;
}

.box-banner-sale {
  position: relative;
  padding: 114px 0 80px 0;
}
@media (max-width: 1023px) {
  .box-banner-sale {
    padding: 40px 0;
  }
}

.content-banner-sale {
  position: relative;
  padding: 0 60px;
}
.content-banner-sale:after {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 0;
  background: url("../images/banner-sale.png") no-repeat center;
  background-size: cover;
}
@media (max-width: 1023px) {
  .content-banner-sale:after {
    height: calc(100% + 40px);
    top: -20px;
  }
}
.content-banner-sale .row {
  position: relative;
  z-index: 2;
}
.content-banner-sale .slogan {
  text-align: right;
}
.content-banner-sale .slogan img {
  max-height: 180px;
}
.content-banner-sale .txt-sale h3 {
  color: #EDE2C5;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .content-banner-sale .txt-sale h3 {
    font-size: 45px;
  }
}
@media (max-width: 1200px) {
  .content-banner-sale .txt-sale h3 {
    font-size: 30px;
  }
}
@media (max-width: 1023px) {
  .content-banner-sale .txt-sale h3 {
    font-size: 28px;
  }
}
.content-banner-sale .txt-sale .btn-main a {
  background: #262626;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #FBFBFB;
  border: 0;
}
.content-banner-sale.sale-cate:after {
  top: unset;
  bottom: 0;
  height: 84%;
}
.content-banner-sale.sale-cate .col-md-4:first-child, .content-banner-sale.sale-cate .col-md-4:last-child {
  padding-top: 6%;
}

.box-stories {
  padding: 150px 0;
}
@media (max-width: 1600px) {
  .box-stories {
    padding: 120px 0;
  }
}
@media (max-width: 1023px) {
  .box-stories {
    padding: 40px 0;
  }
}
.box-stories .slide-stories {
  max-width: 880px;
  margin: 0 auto;
}
.box-stories .slide-stories .item-slide {
  padding: 0 15px;
}
.box-stories .slide-stories .slick-arrow {
  top: 180px;
}
@media (max-width: 1023px) {
  .box-stories .slide-stories .slick-arrow {
    opacity: 0;
    pointer-events: none;
    display: none !important;
  }
}
.box-stories .slide-stories .slick-arrow.arr-prev {
  left: -60px;
}
.box-stories .slide-stories .slick-arrow.arr-next {
  right: -60px;
}

.item-stories .avarta img {
  height: 420px;
}
.item-stories .info {
  max-width: 770px;
  margin: 0 auto;
  color: #7A7875;
}
.item-stories .info h5 {
  padding: 26px 0;
  text-transform: uppercase;
  color: #7A7875;
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 1600px) {
  .item-stories .info h5 {
    font-size: 26px;
  }
}
@media (max-width: 1023px) {
  .item-stories .info h5 {
    font-size: 22px;
    padding: 20px 0;
  }
}

.box-product-hot {
  padding: 140px 0 150px 0;
}
@media (max-width: 1600px) {
  .box-product-hot {
    padding: 120px 0;
  }
}
@media (max-width: 1023px) {
  .box-product-hot {
    padding: 50px 0;
  }
}

.slide-prd-hot {
  margin: 0 -15px;
}
.slide-prd-hot .item-slide {
  padding: 0 15px;
}

.item-prd:hover {
  background: #f5f3ed;
}
.item-prd:hover .icon-eye {
  opacity: 1;
  pointer-events: unset;
}
.item-prd:hover .btn-add-cart {
  opacity: 1;
}
.item-prd:hover .show-hver {
  opacity: 1 !important;
}
.item-prd:hover .hide-hver {
  opacity: 0;
}
.item-prd .avarta {
  position: relative;
}
.item-prd .avarta .show-hver {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
}
.item-prd .avarta span {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #DADEBE;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 100%;
  z-index: 4;
}
.item-prd .icon-eye {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
}
.item-prd ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 18px;
}
.item-prd ul li {
  margin-right: 40px;
  padding-right: 40px;
  position: relative;
}
.item-prd ul li:after {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 300;
}
.item-prd ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.item-prd ul li:last-child:after {
  display: none;
}
.item-prd h3 {
  padding: 18px 0;
}
.item-prd h3 a {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: normal;
}
.item-prd .price {
  font-size: 22px;
  font-weight: normal;
  color: #4F4F4F;
}
.item-prd .price del {
  font-weight: 300;
  margin-right: 10px;
}
.item-prd .btn-add-cart {
  opacity: 0;
  background: #4F4F4F;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 18px;
}
@media (max-width: 1023px) {
  .item-prd .btn-add-cart {
    display: none;
  }
}
.item-prd .btn-add-cart a {
  font-weight: 300;
  color: #F5F3ED;
  font-size: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-review {
  padding: 75px 0;
}
@media (max-width: 1023px) {
  .box-review {
    padding: 50px 0;
  }
}

.tab-review {
  margin-bottom: 64px;
  font-family: Ogg;
}
.tab-review ul {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
}
.tab-review ul li {
  margin-right: 40px;
}
.tab-review ul li:last-child {
  margin-right: 0;
}

.content-review {
  position: relative;
}
.content-review .slide-review {
  margin: 0 -30px;
}
.content-review .slide-review .item-slide {
  padding: 0 30px;
}

.box-blog {
  padding: 75px 0 0 0;
}
@media (max-width: 1023px) {
  .box-blog {
    padding: 50px 0 0 0;
  }
}
.box-blog .slide-blog {
  position: relative;
  margin: 0 -30px;
}
@media (max-width: 1023px) {
  .box-blog .slide-blog {
    margin: 0 -12px;
  }
}
.box-blog .slide-blog .item-slide {
  padding: 0 30px;
}
@media (max-width: 1023px) {
  .box-blog .slide-blog .item-slide {
    padding: 0 12px;
  }
}
.box-blog .slick-arrow {
  top: 30%;
}
.box-blog .slick-arrow.arr-next {
  right: 0;
}
.box-blog .slick-arrow.arr-prev {
  left: 0;
}

.detail-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7A7875;
  height: 58px;
  width: 100%;
  font-size: 14px;
  color: #7A7875;
}
@media (max-width: 1023px) {
  .detail-link a {
    height: 46px;
    font-size: 12px;
  }
}
.detail-link a:hover {
  background: #DADEBE;
  color: #fff;
  border: 1px solid #DADEBE;
}

.item-blog .avarta {
  position: relative;
  overflow: hidden;
}
.item-blog .avarta img {
  transition: 0.5s all !important;
}
.item-blog .avarta img:hover {
  transform: scale(1.04);
}
.item-blog .top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}
@media (max-width: 1023px) {
  .item-blog .top {
    font-size: 14px;
  }
}
.item-blog h3 a {
  font-size: 26px;
  font-weight: 500;
  display: block;
  color: #4F4F4F;
}
@media (max-width: 1600px) {
  .item-blog h3 a {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .item-blog h3 a {
    font-size: 18px;
  }
}
.item-blog .detail-link {
  margin-top: 54px;
  opacity: 0;
}
@media (max-width: 1023px) {
  .item-blog .detail-link {
    margin-top: 32px;
    opacity: 1;
  }
}
.item-blog:hover .detail-link {
  opacity: 1;
}

.box-subscribe {
  position: relative;
  margin-top: 150px;
}
@media (max-width: 1600px) {
  .box-subscribe {
    margin-top: 120px;
  }
}

.content-subscribe {
  padding: 45px 145px 0 145px;
  background: url("../images/bn-sub.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .content-subscribe {
    padding: 45px 80px 0 80px;
  }
}
@media (max-width: 1023px) {
  .content-subscribe {
    padding: 24px 24px 0 24px;
  }
}
.content-subscribe .avarta img {
  max-height: 385px;
}
.content-subscribe .txt-subscribe {
  max-width: 500px;
}
.content-subscribe .txt-subscribe h3 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1600px) {
  .content-subscribe .txt-subscribe h3 {
    font-size: 36px;
  }
}
@media (max-width: 1200px) {
  .content-subscribe .txt-subscribe h3 {
    font-size: 30px;
  }
}
@media (max-width: 1023px) {
  .content-subscribe .txt-subscribe h3 {
    font-size: 24px;
  }
}

.frm-sub {
  position: relative;
}
.frm-sub .txt_field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #455154;
  outline: none;
  background: transparent;
  padding: 14px 0;
}
.frm-sub .item-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.frm-sub .item-btn:after {
  content: "";
  width: 33px;
  height: 33px;
  background: url("../images/arrow-button.png") no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.frm-sub .item-btn .btn_field {
  width: 33px;
  height: 33px;
  opacity: 0;
  cursor: pointer;
}

.box-banner-bread {
  position: relative;
}
.box-banner-bread .avarta-bread {
  position: relative;
}
.box-banner-bread .avarta-bread img {
  max-height: 360px;
  object-fit: cover;
}
.box-banner-bread .caption-bread {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-banner-bread .caption-bread h1 {
  font-family: Ogg;
  font-size: 40px;
  font-weight: 400;
}

.box-tab-blog {
  padding: 75px 0 165px 0;
  background: #fff;
}
.box-tab-blog .slick-arrow {
  bottom: -85px;
  top: unset;
}
.box-tab-blog .slick-arrow.slick-left {
  left: calc(50% - 50px);
}
.box-tab-blog .slick-arrow.slick-right {
  right: calc(50% - 50px);
}

.slide-news .row {
  margin: 0 -30px;
}
.slide-news .row .col-md-4 {
  padding: 0 30px;
  margin-bottom: 64px;
}

.tab-blog {
  font-family: Ogg;
  margin-bottom: 64px;
}
.tab-blog ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-blog ul li {
  margin-right: 30px;
}
.tab-blog ul li:last-child {
  margin-right: 0;
}
.tab-blog ul li a {
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}
.tab-blog ul li a.active, .tab-blog ul li a:hover {
  border-bottom: 1px solid;
}

.content-blog {
  position: relative;
}
.content-blog .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.content-blog .tab-content.active {
  opacity: 1;
  pointer-events: unset;
  position: relative;
  z-index: 10;
}

.box-faq {
  padding: 50px 0;
}
.box-faq .tab-blog {
  margin-bottom: 40px;
}

.title-faq {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: normal;
}

.content-faq {
  max-width: 770px;
  margin: 0 auto;
}

.item-faq {
  border-bottom: 0.5px solid #BFBFBF;
  padding-bottom: 8px;
  margin-bottom: 40px;
}
.item-faq:last-child {
  margin-bottom: 0;
}
.item-faq .head-faq {
  position: relative;
  font-weight: 300;
  font-size: 22px;
  color: #7C7C7C;
  cursor: pointer;
  padding-right: 35px;
}
.item-faq .head-faq .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 10px);
  right: 0;
}
.item-faq .head-faq .icon svg {
  transition: 0.3s all !important;
}
.item-faq .head-faq.active {
  font-weight: normal;
}
.item-faq .head-faq.active .icon svg {
  transform: rotate(-90deg);
}
.item-faq .head-faq.active .icon svg path {
  fill: rgb(79, 79, 79);
}
.item-faq .answer {
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
  display: none;
}

.box-contact {
  padding: 147px 0;
}
.box-contact .container {
  max-width: 1200px;
}
.box-contact .txt-contact {
  font-size: 40px;
  font-weight: 400;
  font-family: Ogg;
  line-height: initial;
}

.content-contact .row {
  margin: 0 -50px;
}
.content-contact .row .col-md-6 {
  padding: 0 50px;
}
.content-contact .avarta {
  position: sticky;
  top: 20px;
}

.frm-contact {
  margin-top: 75px;
}
.frm-contact .t-head {
  margin-bottom: 75px;
  font-size: 40px;
  font-weight: normal;
  font-family: Ogg;
  text-transform: uppercase;
}

.list-frm .item-frm {
  margin-bottom: 32px;
}
.list-frm .item-frm label {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 6px;
  font-weight: 300;
}
.list-frm .item-frm .txt_field {
  width: 100%;
  height: 32px;
  outline: none;
  background: transparent;
  border: 0;
  border-bottom: 0.5px solid #BFBFBF;
}
.list-frm .item-frm .btn_field {
  background: #455154;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  color: #C1BCB4;
  height: 68px;
  border: 0;
  font-weight: 300;
  font-size: 22px;
}

.box-about {
  background: url("../images/about.png") no-repeat center;
  background-size: cover;
  padding: 60px 0;
  font-weight: 300;
  color: #656565;
  line-height: 1.4;
}

.title-caption {
  font-size: 40px;
  font-weight: normal;
  font-family: Ogg;
  color: #000000;
  padding-right: 20px;
}

.txt-caption {
  position: relative;
  left: -20px;
}

.box-trip {
  padding: 160px 0;
  background: #F9F7F2;
}

.item-trip {
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  margin: 0 auto;
  max-width: 460px;
}
.item-trip .year {
  font-family: Ogg;
  padding: 80px 0;
  font-size: 100px;
  font-weight: normal;
  color: #000000;
  position: relative;
}
.item-trip .year:after {
  content: "";
  width: 0.5px;
  height: 46px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 30px;
}
.item-trip .year:before {
  content: "";
  width: 0.5px;
  height: 46px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 30px;
}

.slide-trip {
  max-width: 660px;
  margin: 0 auto;
}
.slide-trip .slick-arrow.slick-right {
  right: 0;
}
.slide-trip .slick-arrow.slick-left {
  left: 0;
}

.box-value {
  padding: 120px 0;
}

.content-giatri {
  max-width: 1030px;
  margin: 0 auto;
}

.item-giatri {
  font-weight: 300;
  font-size: 24px;
  line-height: initial;
  margin-bottom: 100px;
}
.item-giatri:last-child {
  margin-bottom: 0;
}
.item-giatri .row {
  margin: 0;
}
.item-giatri .row .col-md-6 {
  padding: 0;
}
.item-giatri .t-giatri {
  color: #7A7875;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.item-giatri .txt-gtri {
  max-width: 370px;
}
.item-giatri:nth-child(2n) .txt-gtri {
  margin: 0 auto;
}
.item-giatri:nth-child(2n) .col-md-6:first-child {
  order: 2;
}
.item-giatri:nth-child(2n) .col-md-6:last-child {
  order: 1;
}

.desc-value {
  font-weight: 300;
  font-size: 24px;
  line-height: initial;
  margin-top: 32px;
  margin-bottom: 120px;
  max-width: 50%;
  padding-right: 16px;
}

.wrap-value {
  position: relative;
}
.wrap-value:after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  background: #EDE2C5;
}

.progress {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 0;
  overflow: hidden;
  background-color: #BFBFBF;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}

.txt-content-prd {
  font-size: 20px;
  max-width: 370px;
}
.txt-content-prd h4 {
  font-size: 35px;
  font-weight: normal;
  text-transform: uppercase;
}
.txt-content-prd .desc {
  padding: 24px 0;
}
.txt-content-prd .view-more {
  font-size: 24px;
  font-weight: normal;
}
.txt-content-prd .view-more a {
  color: #4F4F4F;
}

.box-product {
  padding: 75px 0;
}
.box-product:nth-child(2n) {
  background: #fff;
}

.item-frm-pay {
  margin-bottom: 28px;
}
.item-frm-pay:last-child {
  margin-bottom: 0;
}
.item-frm-pay label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  display: block;
  color: #000000;
}
.item-frm-pay .txt_field {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  padding: 0 12px;
  border: 1px solid #C1BCB4;
  outline: none;
  height: 40px;
  background: transparent;
}
.item-frm-pay .row {
  margin: 0 -4px;
}
.item-frm-pay .row > div {
  padding: 0 4px;
  margin-bottom: 10px;
}
.item-frm-pay .row > div:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
