@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Bold.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-BoldItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-ExtraLight.woff2") format("woff2"), url("../fonts/jose/JosefinSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Light.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-LightItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Italic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-SemiBold.woff2") format("woff2"), url("../fonts/jose/JosefinSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Regular.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-MediumItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Medium.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-ThinItalic.woff2") format("woff2"), url("../fonts/jose/JosefinSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Josefin";
  src: url("../fonts/jose/JosefinSans-Thin.woff2") format("woff2"), url("../fonts/jose/JosefinSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VN-Boowie";
  src: url("../fonts/VN-Boowie-Regular.woff2") format("woff2"), url("../fonts/VN-Boowie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Bold.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-LightItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-BoldItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-MediumItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Light.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Medium.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Italic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Regular.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-Thin.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url("../fonts/ogg/SVN-Ogg-ThinItalic.woff2") format("woff2"), url("../fonts/ogg/SVN-Ogg-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #070039;
  transition: 0.3s all !important;
}
a:hover {
  color: #7FC3A7;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  color: #4F4F4F;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Josefin";
  font-weight: normal;
  background: #F9F7F2;
}

.container {
  max-width: 1550px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

.slick-slider {
  margin: 0;
}
.slick-slider img {
  display: inline;
}

/*======================================== end config =================================*/
.header-top {
  font-size: 16px;
  color: #fff;
  background: #000000;
  padding: 9px 0;
}

.head-menu {
  padding: 25px 0;
  font-size: 20px;
  font-family: Ogg;
}
.head-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.head-menu ul li {
  margin-right: 30px;
}
.head-menu ul li:last-child {
  margin-right: 0;
}
.head-menu ul li a {
  display: flex;
  align-items: center;
}
.head-menu ul li a img, .head-menu ul li a svg {
  margin-left: 8px;
}
.head-menu .menu-right ul {
  justify-content: flex-end;
}

.fter-top {
  padding: 90px 0 50px 0;
}
.fter-top .item-fter .t-fter {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.fter-top .link-fter ul {
  list-style: none;
}
.fter-top .link-fter ul li {
  margin-bottom: 18px;
}
.fter-top .link-fter ul li:last-child {
  margin-bottom: 0;
}
.fter-top .link-fter ul li a {
  font-size: 16px;
  color: #7C7C7C;
}
.fter-top .link-fter ul li a:hover {
  color: #000000;
}
.fter-top .link-fter ul li label {
  margin-bottom: 0;
  font-weight: 500;
}
.fter-top .link-fter ul li p {
  font-weight: 300;
}
.fter-top .fter-regis {
  margin-top: 45px;
}
.fter-top .fter-regis .t-fter {
  margin: 0;
}
.fter-top .fter-regis .desc-fter {
  font-weight: 300;
  padding: 12px 0;
}
.fter-top .btnmain a {
  background: #C1BCB4;
  color: #fff;
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 216px;
  font-weight: 300;
  font-size: 13px;
}
.fter-top .btnmain a:hover {
  background: #000000;
}

.fter-right {
  border-bottom: 1px solid #C1BCB4;
  padding-bottom: 47px;
}

.fter-bottom {
  font-size: 14px;
  padding: 0 0 50px 0;
}
.fter-bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fter-bottom ul li {
  margin-right: 20px;
}
.fter-bottom ul li:last-child {
  margin-right: 0;
}
.fter-bottom .list-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.fter-bottom .item-info-bot:first-child a {
  border-bottom: 1px solid;
}

.title {
  margin-bottom: 70px;
}
.title h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  font-family: "VN-Boowie";
  color: #000000;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: calc(50% - 30px);
}
.slick-arrow.arr-prev {
  left: -30px;
}
.slick-arrow.arr-next {
  right: -30px;
}

.box-banner {
  position: relative;
  background: #DADADA;
  padding: 202px 0 126px 0;
}
.box-banner .slick-arrow {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: -60px;
  left: 48%;
  top: unset;
}
.box-banner .slick-arrow.slick-right {
  left: 52%;
}

.box-service {
  padding: 180px 0;
}

.item-service h3 {
  padding: 25px 0 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: inherit;
}
.item-service .info {
  max-width: 345px;
}

.box-product-cate {
  padding: 122px 0 170px 0;
}

.list-cate-prd {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.list-cate-prd ul {
  list-style: none;
}
.list-cate-prd ul li {
  margin-bottom: 42px;
}
.list-cate-prd ul li:last-child {
  margin-bottom: 0;
}

.txt-prd-cate h4 {
  font-size: 30px;
  font-weight: normal;
}
.txt-prd-cate .desc {
  padding: 20px 0;
}

.btn-main a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-width: 182px;
  height: 50px;
  border: 1px solid #DCB47F;
  color: #DCB47F;
}
.btn-main a:hover {
  color: #fff;
  background: #000000;
  border: 1px solid #000000;
}

.box-banner-sale {
  position: relative;
  padding: 114px 0 80px 0;
}

.content-banner-sale {
  position: relative;
  padding: 0 60px;
}
.content-banner-sale:after {
  content: "";
  width: 100%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 0;
  background: url("../images/banner-sale.png") no-repeat center;
  background-size: cover;
}
.content-banner-sale .row {
  position: relative;
  z-index: 2;
}
.content-banner-sale .slogan {
  text-align: right;
}
.content-banner-sale .slogan img {
  max-height: 180px;
}
.content-banner-sale .txt-sale h3 {
  color: #EDE2C5;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-banner-sale .txt-sale .btn-main a {
  background: #262626;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #FBFBFB;
  border: 0;
}
.content-banner-sale.sale-cate:after {
  top: unset;
  bottom: 0;
  height: 84%;
}
.content-banner-sale.sale-cate .col-md-4:first-child, .content-banner-sale.sale-cate .col-md-4:last-child {
  padding-top: 6%;
}

.box-stories {
  padding: 150px 0;
}
.box-stories .slide-stories {
  max-width: 880px;
  margin: 0 auto;
}
.box-stories .slide-stories .item-slide {
  padding: 0 15px;
}
.box-stories .slide-stories .slick-arrow {
  top: 180px;
}
.box-stories .slide-stories .slick-arrow.arr-prev {
  left: -60px;
}
.box-stories .slide-stories .slick-arrow.arr-next {
  right: -60px;
}

.item-stories .avarta img {
  height: 420px;
}
.item-stories .info {
  max-width: 770px;
  margin: 0 auto;
  color: #7A7875;
}
.item-stories .info h5 {
  padding: 26px 0;
  text-transform: uppercase;
  color: #7A7875;
  font-size: 30px;
  font-weight: 600;
}

.box-product-hot {
  padding: 140px 0 150px 0;
}
.box-product-hot .slide-prd-hot {
  margin: 0 -15px;
}
.box-product-hot .slide-prd-hot .item-slide {
  padding: 0 15px;
}

.item-prd ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 18px;
}
.item-prd ul li {
  margin-right: 40px;
  padding-right: 40px;
  position: relative;
}
.item-prd ul li:after {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 300;
}
.item-prd ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.item-prd ul li:last-child:after {
  display: none;
}
.item-prd h3 {
  padding: 18px 0;
}
.item-prd h3 a {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: normal;
}
.item-prd .price {
  font-size: 22px;
  font-weight: normal;
  color: #4F4F4F;
}
.item-prd .price del {
  font-weight: 300;
  margin-right: 10px;
}

.box-review {
  padding: 75px 0;
}

.tab-review {
  margin-bottom: 64px;
  font-family: Ogg;
}
.tab-review ul {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
}
.tab-review ul li {
  margin-right: 40px;
}
.tab-review ul li:last-child {
  margin-right: 0;
}

.content-review {
  position: relative;
}
.content-review .slide-review {
  margin: 0 -30px;
}
.content-review .slide-review .item-slide {
  padding: 0 30px;
}

.box-blog {
  padding: 75px 0 0 0;
}
.box-blog .slide-blog {
  position: relative;
  margin: 0 -30px;
}
.box-blog .slide-blog .item-slide {
  padding: 0 30px;
}

.detail-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7A7875;
  height: 58px;
  width: 100%;
  font-size: 14px;
  color: #7A7875;
}
.detail-link a:hover {
  background: #DADEBE;
  color: #fff;
  border: 1px solid #DADEBE;
}

.item-blog .top {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}
.item-blog h3 a {
  font-size: 26px;
  font-weight: 500;
  display: block;
  color: #4F4F4F;
}
.item-blog .detail-link {
  margin-top: 54px;
  opacity: 0;
}
.item-blog:hover .detail-link {
  opacity: 1;
}

.box-subscribe {
  position: relative;
  margin-top: 150px;
}

.content-subscribe {
  padding: 45px 145px 0 145px;
  background: url("../images/bn-sub.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.content-subscribe .avarta img {
  max-height: 385px;
}
.content-subscribe .txt-subscribe {
  max-width: 500px;
}
.content-subscribe .txt-subscribe h3 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.frm-sub {
  position: relative;
}
.frm-sub .txt_field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #455154;
  outline: none;
  background: transparent;
  padding: 14px 0;
}
.frm-sub .item-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.frm-sub .item-btn:after {
  content: "";
  width: 33px;
  height: 33px;
  background: url("../images/arrow-button.png") no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.frm-sub .item-btn .btn_field {
  width: 33px;
  height: 33px;
  opacity: 0;
  cursor: pointer;
}

.box-banner-bread {
  position: relative;
}
.box-banner-bread .avarta-bread {
  position: relative;
}
.box-banner-bread .avarta-bread img {
  max-height: 360px;
  object-fit: cover;
}
.box-banner-bread .caption-bread {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-banner-bread .caption-bread h1 {
  font-family: Ogg;
  font-size: 40px;
  font-weight: 400;
}

.box-tab-blog {
  padding: 75px 0 165px 0;
  background: #fff;
}
.box-tab-blog .slick-arrow {
  bottom: -85px;
  top: unset;
}
.box-tab-blog .slick-arrow.slick-left {
  left: calc(50% - 50px);
}
.box-tab-blog .slick-arrow.slick-right {
  right: calc(50% - 50px);
}

.slide-news {
  margin: 0 -30px;
}
.slide-news .item-slide {
  padding: 0 30px;
}
.slide-news .item-blog {
  margin-bottom: 64px;
}
.slide-news .item-blog:last-child {
  margin-bottom: 0;
}

.tab-blog {
  font-family: Ogg;
  margin-bottom: 64px;
}
.tab-blog ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-blog ul li {
  margin-right: 30px;
}
.tab-blog ul li:last-child {
  margin-right: 0;
}
.tab-blog ul li a {
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}
.tab-blog ul li a.active, .tab-blog ul li a:hover {
  border-bottom: 1px solid;
}

.content-blog {
  position: relative;
}
.content-blog .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.content-blog .tab-content.active {
  opacity: 1;
  pointer-events: unset;
  position: relative;
  z-index: 10;
}

.box-faq {
  padding: 50px 0;
}
.box-faq .tab-blog {
  margin-bottom: 40px;
}

.title-faq {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: normal;
}

.content-faq {
  max-width: 770px;
  margin: 0 auto;
}

.item-faq {
  border-bottom: 0.5px solid #BFBFBF;
  padding-bottom: 8px;
  margin-bottom: 40px;
}
.item-faq:last-child {
  margin-bottom: 0;
}
.item-faq .head-faq {
  position: relative;
  font-weight: 300;
  font-size: 22px;
  color: #7C7C7C;
  cursor: pointer;
  padding-right: 35px;
}
.item-faq .head-faq .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 10px);
  right: 0;
}
.item-faq .head-faq .icon svg {
  transition: 0.3s all !important;
}
.item-faq .head-faq.active {
  font-weight: normal;
}
.item-faq .head-faq.active .icon svg {
  transform: rotate(-90deg);
}
.item-faq .head-faq.active .icon svg path {
  fill: rgb(79, 79, 79);
}
.item-faq .answer {
  font-size: 18px;
  font-weight: 300;
  margin-top: 12px;
  display: none;
}

.box-contact {
  padding: 147px 0;
}
.box-contact .container {
  max-width: 1200px;
}
.box-contact .txt-contact {
  font-size: 40px;
  font-weight: 400;
  font-family: Ogg;
  line-height: initial;
}

.content-contact .row {
  margin: 0 -50px;
}
.content-contact .row .col-md-6 {
  padding: 0 50px;
}

/*# sourceMappingURL=style.css.map */
